# AprioriAll

In [349]:
import pandas as pd
import itertools

## Preprocessing data

In [350]:
db = {'items':[]}
cid = {'cid':[]}
with open('./seqdata.dat.txt', encoding='utf-8') as fh:
    for row in fh:
        row = row.split()
        cid['cid'].append(row[0])
        row.remove(row[0])
        
        db_sequence = [] # sequence of a cunstomer
        subsequence = {} # subsequence of a sequence
        for idx in range(len(row)-1):
            if idx % 2 != 0:
                continue
            buy_time = row[idx]
            item  = row[idx + 1]
            if buy_time not in subsequence:
                subsequence[buy_time] = [item]
            else:
                subsequence[buy_time].append(item)
                
        for subseq in subsequence.values():
            db_sequence.append(subseq)
        
        db_sequence = remove_duplicate(db_sequence)
        
        db['items'].append(db_sequence)

In [352]:
def remove_duplicate(array):
    new_array = []
    for i in array:
        if i not in new_array:
            new_array.append(i)
    return new_array

In [353]:
df = pd.DataFrame(data=db,index=cid['cid'])
df.index.name = 'cid'
df

                                                   items
cid
1      [[166, 4103, 8715], [4103, 8715], [166, 3704, ...
2                     [[2404, 5954, 6282], [2404, 3203]]
3      [[5132, 9446], [316, 5132, 6889, 7594], [5132,...
4      [[7182, 8985], [3710, 4652, 5069, 8985], [5069...
5      [[649, 1264, 2181, 6268], [2181, 5127, 5447, 5...
...                                                  ...
19996               [[3638, 5868], [1767], [1767, 6415]]
19997                                           [[8480]]
19998  [[3268, 6149, 6624], [3268, 6149, 6624, 9933],...
19999                         [[26, 9706], [8007, 9706]]
20000           [[7357], [2046, 5756, 7357, 7467, 9749]]

[20000 rows x 1 columns]

In [294]:
df = pd.DataFrame(data=db,index=cid['cid'])
df.index.name = 'cid'
df

                                                   items
cid
1      [[166, 4103, 8715], [4103, 8715], [166, 3704, ...
2      [[2404, 5954, 6282], [2404, 5954, 6282], [2404...
3      [[5132, 9446], [316, 5132, 6889, 7594], [5132,...
4      [[7182, 8985], [3710, 4652, 5069, 8985], [5069...
5      [[649, 1264, 2181, 6268], [2181, 5127, 5447, 5...
...                                                  ...
19996  [[3638, 5868], [3638, 5868], [1767], [1767, 64...
19997           [[8480], [8480], [8480], [8480], [8480]]
19998  [[3268, 6149, 6624], [3268, 6149, 6624, 9933],...
19999             [[26, 9706], [26, 9706], [8007, 9706]]
20000           [[7357], [2046, 5756, 7357, 7467, 9749]]

[20000 rows x 1 columns]

## AprioriAll

input min_support

In [354]:
min_support = float(input('Input minimal support(% of data):')) * len(df) * 0.01
print('min_support:',min_support)

Input minimal support(% of data):1
min_support: 200.0

calc support for each element

In [355]:
itemset = {}
for idx in range(len(df)):
    sequence = df.iloc[idx]['items']
    for subset in sequence:
        if len(subset) == 1:
            key = str(subset) # list to number
            itemset[key] = itemset.get(key,0)+1
        else:
            for n in range(len(subset)):
                for comb_ in itertools.combinations(subset, n+1):
                    comb_ = list(comb_)
                    comb_ = ','.join(comb_)
                    key = str(comb_)
                    itemset[key] = itemset.get(key,0)+1

In [356]:
itemset

{'166': 45,
 '4103': 91,
 '8715': 110,
 '166,4103': 1,
 '166,8715': 2,
 '4103,8715': 2,
 '166,4103,8715': 1,
 '3704': 206,
 '6568': 223,
 '8375': 95,
 '166,3704': 1,
 '166,6568': 1,
 '166,8375': 1,
 '3704,6568': 171,
 '3704,8375': 1,
 '3704,8715': 1,
 '6568,8375': 1,
 '6568,8715': 1,
 '8375,8715': 1,
 '166,3704,6568': 1,
 '166,3704,8375': 1,
 '166,3704,8715': 1,
 '166,6568,8375': 1,
 '166,6568,8715': 1,
 '166,8375,8715': 1,
 '3704,6568,8375': 1,
 '3704,6568,8715': 1,
 '3704,8375,8715': 1,
 '6568,8375,8715': 1,
 '166,3704,6568,8375': 1,
 '166,3704,6568,8715': 1,
 '166,3704,8375,8715': 1,
 '166,6568,8375,8715': 1,
 '3704,6568,8375,8715': 1,
 '166,3704,6568,8375,8715': 1,
 '9406': 205,
 '166,9406': 1,
 '2404': 112,
 '5954': 48,
 '6282': 47,
 '2404,5954': 1,
 '2404,6282': 1,
 '5954,6282': 46,
 '2404,5954,6282': 1,
 '3203': 48,
 '2404,3203': 1,
 '5132': 276,
 '9446': 74,
 '5132,9446': 2,
 '316': 152,
 '6889': 27,
 '7594': 98,
 '316,5132': 1,
 '316,6889': 1,
 '316,7594': 97,
 '5132,6889': 1,
 '5132,7594': 1,
 '6889,7594': 1,
 '316,5132,6889': 1,
 '316,5132,7594': 1,
 '316,6889,7594': 1,
 '5132,6889,7594': 1,
 '316,5132,6889,7594': 1,
 '7494': 56,
 '5132,7494': 1,
 '7182': 31,
 '8985': 156,
 '7182,8985': 1,
 '3710': 37,
 '4652': 17,
 '5069': 309,
 '3710,4652': 17,
 '3710,5069': 2,
 '3710,8985': 1,
 '4652,5069': 2,
 '4652,8985': 1,
 '5069,8985': 1,
 '3710,4652,5069': 2,
 '3710,4652,8985': 1,
 '3710,5069,8985': 1,
 '4652,5069,8985': 1,
 '3710,4652,5069,8985': 1,
 '9803': 75,
 '5069,7182': 4,
 '5069,9803': 2,
 '7182,9803': 1,
 '5069,7182,9803': 1,
 '411': 426,
 '6258': 12,
 '411,5069': 6,
 '411,6258': 1,
 '411,9803': 3,
 '5069,6258': 2,
 '6258,9803': 1,
 '411,5069,6258': 1,
 '411,5069,9803': 1,
 '411,6258,9803': 1,
 '5069,6258,9803': 1,
 '411,5069,6258,9803': 1,
 '649': 32,
 '1264': 57,
 '2181': 27,
 '6268': 15,
 '649,1264': 1,
 '649,2181': 1,
 '649,6268': 1,
 '1264,2181': 1,
 '1264,6268': 8,
 '2181,6268': 1,
 '649,1264,2181': 1,
 '649,1264,6268': 1,
 '649,2181,6268': 1,
 '1264,2181,6268': 1,
 '649,1264,2181,6268': 1,
 '5127': 59,
 '5447': 285,
 '5493': 336,
 '7208': 61,
 '2181,5127': 1,
 '2181,5447': 1,
 '2181,5493': 1,
 '2181,7208': 1,
 '5127,5447': 2,
 '5127,5493': 2,
 '5127,7208': 1,
 '5447,5493': 282,
 '5447,7208': 4,
 '5493,7208': 5,
 '2181,5127,5447': 1,
 '2181,5127,5493': 1,
 '2181,5127,7208': 1,
 '2181,5447,5493': 1,
 '2181,5447,7208': 1,
 '2181,5493,7208': 1,
 '5127,5447,5493': 2,
 '5127,5447,7208': 1,
 '5127,5493,7208': 1,
 '5447,5493,7208': 4,
 '2181,5127,5447,5493': 1,
 '2181,5127,5447,7208': 1,
 '2181,5127,5493,7208': 1,
 '2181,5447,5493,7208': 1,
 '5127,5447,5493,7208': 1,
 '2181,5127,5447,5493,7208': 1,
 '1642': 35,
 '5264': 67,
 '1264,1642': 1,
 '1264,5264': 2,
 '1264,5447': 2,
 '1264,5493': 2,
 '1642,5264': 1,
 '1642,5447': 1,
 '1642,5493': 1,
 '1642,6268': 1,
 '5264,5447': 2,
 '5264,5493': 2,
 '5264,6268': 2,
 '5447,6268': 1,
 '5493,6268': 1,
 '1264,1642,5264': 1,
 '1264,1642,5447': 1,
 '1264,1642,5493': 1,
 '1264,1642,6268': 1,
 '1264,5264,5447': 1,
 '1264,5264,5493': 1,
 '1264,5264,6268': 2,
 '1264,5447,5493': 2,
 '1264,5447,6268': 1,
 '1264,5493,6268': 1,
 '1642,5264,5447': 1,
 '1642,5264,5493': 1,
 '1642,5264,6268': 1,
 '1642,5447,5493': 1,
 '1642,5447,6268': 1,
 '1642,5493,6268': 1,
 '5264,5447,5493': 2,
 '5264,5447,6268': 1,
 '5264,5493,6268': 1,
 '5447,5493,6268': 1,
 '1264,1642,5264,5447': 1,
 '1264,1642,5264,5493': 1,
 '1264,1642,5264,6268': 1,
 '1264,1642,5447,5493': 1,
 '1264,1642,5447,6268': 1,
 '1264,1642,5493,6268': 1,
 '1264,5264,5447,5493': 1,
 '1264,5264,5447,6268': 1,
 '1264,5264,5493,6268': 1,
 '1264,5447,5493,6268': 1,
 '1642,5264,5447,5493': 1,
 '1642,5264,5447,6268': 1,
 '1642,5264,5493,6268': 1,
 '1642,5447,5493,6268': 1,
 '5264,5447,5493,6268': 1,
 '1264,1642,5264,5447,5493': 1,
 '1264,1642,5264,5447,6268': 1,
 '1264,1642,5264,5493,6268': 1,
 '1264,1642,5447,5493,6268': 1,
 '1264,5264,5447,5493,6268': 1,
 '1642,5264,5447,5493,6268': 1,
 '1264,1642,5264,5447,5493,6268': 1,
 '6201': 22,
 '1264,5127': 1,
 '1264,6201': 1,
 '5127,5264': 1,
 '5127,6201': 1,
 '5127,6268': 1,
 '5264,6201': 1,
 '6201,6268': 1,
 '1264,5127,5264': 1,
 '1264,5127,6201': 1,
 '1264,5127,6268': 1,
 '1264,5264,6201': 1,
 '1264,6201,6268': 1,
 '5127,5264,6201': 1,
 '5127,5264,6268': 1,
 '5127,6201,6268': 1,
 '5264,6201,6268': 1,
 '1264,5127,5264,6201': 1,
 '1264,5127,5264,6268': 1,
 '1264,5127,6201,6268': 1,
 '1264,5264,6201,6268': 1,
 '5127,5264,6201,6268': 1,
 '1264,5127,5264,6201,6268': 1,
 '6549': 204,
 '7160': 197,
 '8480': 276,
 '6549,7160': 195,
 '6549,8480': 1,
 '7160,8480': 1,
 '6549,7160,8480': 1,
 '8220': 6,
 '8220,8480': 1,
 '4681': 106,
 '5112': 152,
 '8117': 354,
 '4681,5112': 1,
 '4681,8117': 1,
 '5112,8117': 5,
 '4681,5112,8117': 1,
 '7165': 152,
 '5112,6549': 2,
 '5112,7165': 2,
 '6549,7165': 1,
 '6549,8117': 5,
 '7165,8117': 4,
 '5112,6549,7165': 1,
 '5112,6549,8117': 1,
 '5112,7165,8117': 2,
 '6549,7165,8117': 1,
 '5112,6549,7165,8117': 1,
 '9694': 70,
 '5112,9694': 1,
 '7165,9694': 2,
 '8117,9694': 3,
 '5112,7165,9694': 1,
 '5112,8117,9694': 1,
 '7165,8117,9694': 1,
 '5112,7165,8117,9694': 1,
 '5184': 20,
 '4681,5184': 1,
 '4681,7165': 1,
 '4681,9694': 1,
 '5184,7165': 1,
 '5184,9694': 2,
 '4681,5184,7165': 1,
 '4681,5184,9694': 1,
 '4681,7165,9694': 1,
 '5184,7165,9694': 1,
 '4681,5184,7165,9694': 1,
 '2701': 415,
 '8007': 47,
 '2701,8007': 1,
 '815': 110,
 '3638': 129,
 '5419': 258,
 '815,3638': 1,
 '815,5419': 2,
 '3638,5419': 2,
 '815,3638,5419': 1,
 '2701,3638': 2,
 '552': 289,
 '4811': 327,
 '552,4811': 262,
 '552,5419': 3,
 '4811,5419': 3,
 '552,4811,5419': 3,
 "['815']": 22,
 '4132': 127,
 '552,815': 2,
 '552,4132': 2,
 '815,4132': 1,
 '815,4811': 2,
 '4132,4811': 2,
 '4132,5419': 1,
 '552,815,4132': 1,
 '552,815,4811': 2,
 '552,815,5419': 1,
 '552,4132,4811': 2,
 '552,4132,5419': 1,
 '815,4132,4811': 1,
 '815,4132,5419': 1,
 '815,4811,5419': 1,
 '4132,4811,5419': 1,
 '552,815,4132,4811': 1,
 '552,815,4132,5419': 1,
 '552,815,4811,5419': 1,
 '552,4132,4811,5419': 1,
 '815,4132,4811,5419': 1,
 '552,815,4132,4811,5419': 1,
 '830': 40,
 '830,2701': 1,
 '830,3638': 1,
 '830,5419': 1,
 '2701,5419': 3,
 '830,2701,3638': 1,
 '830,2701,5419': 1,
 '830,3638,5419': 1,
 '2701,3638,5419': 1,
 '830,2701,3638,5419': 1,
 '3278': 6,
 '552,3278': 1,
 '3278,4132': 1,
 '3278,4811': 1,
 '552,3278,4132': 1,
 '552,3278,4811': 1,
 '3278,4132,4811': 1,
 '552,3278,4132,4811': 1,
 '3390': 39,
 '8261': 32,
 '8447': 64,
 '316,3390': 2,
 '316,8261': 1,
 '316,8447': 1,
 '3390,7594': 2,
 '3390,8261': 1,
 '3390,8447': 1,
 '7594,8261': 1,
 '7594,8447': 1,
 '8261,8447': 1,
 '316,3390,7594': 2,
 '316,3390,8261': 1,
 '316,3390,8447': 1,
 '316,7594,8261': 1,
 '316,7594,8447': 1,
 '316,8261,8447': 1,
 '3390,7594,8261': 1,
 '3390,7594,8447': 1,
 '3390,8261,8447': 1,
 '7594,8261,8447': 1,
 '316,3390,7594,8261': 1,
 '316,3390,7594,8447': 1,
 '316,3390,8261,8447': 1,
 '316,7594,8261,8447': 1,
 '3390,7594,8261,8447': 1,
 '316,3390,7594,8261,8447': 1,
 '731': 67,
 '731,3203': 18,
 '6273': 18,
 '3203,6273': 2,
 '514': 17,
 '2681': 14,
 '5804': 181,
 '316,514': 1,
 '316,2681': 1,
 '316,5804': 2,
 '514,2681': 13,
 '514,5804': 1,
 '514,7594': 1,
 '2681,5804': 1,
 '2681,7594': 1,
 '5804,7594': 2,
 '316,514,2681': 1,
 '316,514,5804': 1,
 '316,514,7594': 1,
 '316,2681,5804': 1,
 '316,2681,7594': 1,
 '316,5804,7594': 2,
 '514,2681,5804': 1,
 '514,2681,7594': 1,
 '514,5804,7594': 1,
 '2681,5804,7594': 1,
 '316,514,2681,5804': 1,
 '316,514,2681,7594': 1,
 '316,514,5804,7594': 1,
 '316,2681,5804,7594': 1,
 '514,2681,5804,7594': 1,
 '316,514,2681,5804,7594': 1,
 '1390': 31,
 '1390,3390': 1,
 '1390,5804': 1,
 '3390,5804': 2,
 '1390,3390,5804': 1,
 '1782': 20,
 '731,1782': 1,
 '731,6273': 1,
 '1782,3203': 1,
 '1782,6273': 1,
 '731,1782,3203': 1,
 '731,1782,6273': 1,
 '731,3203,6273': 1,
 '1782,3203,6273': 1,
 '731,1782,3203,6273': 1,
 '6515': 31,
 '9874': 63,
 '316,3203': 1,
 '316,6515': 1,
 '316,9874': 1,
 '3203,3390': 1,
 '3203,5804': 1,
 '3203,6515': 1,
 '3203,7594': 1,
 '3203,9874': 1,
 '3390,6515': 1,
 '3390,9874': 1,
 '5804,6515': 1,
 '5804,9874': 3,
 '6515,7594': 1,
 '6515,9874': 6,
 '7594,9874': 1,
 '316,3203,3390': 1,
 '316,3203,5804': 1,
 '316,3203,6515': 1,
 '316,3203,7594': 1,
 '316,3203,9874': 1,
 '316,3390,5804': 1,
 '316,3390,6515': 1,
 '316,3390,9874': 1,
 '316,5804,6515': 1,
 '316,5804,9874': 1,
 '316,6515,7594': 1,
 '316,6515,9874': 1,
 '316,7594,9874': 1,
 '3203,3390,5804': 1,
 '3203,3390,6515': 1,
 '3203,3390,7594': 1,
 '3203,3390,9874': 1,
 '3203,5804,6515': 1,
 '3203,5804,7594': 1,
 '3203,5804,9874': 1,
 '3203,6515,7594': 1,
 '3203,6515,9874': 1,
 '3203,7594,9874': 1,
 '3390,5804,6515': 1,
 '3390,5804,7594': 1,
 '3390,5804,9874': 1,
 '3390,6515,7594': 1,
 '3390,6515,9874': 1,
 '3390,7594,9874': 1,
 '5804,6515,7594': 1,
 '5804,6515,9874': 1,
 '5804,7594,9874': 1,
 '6515,7594,9874': 1,
 '316,3203,3390,5804': 1,
 '316,3203,3390,6515': 1,
 '316,3203,3390,7594': 1,
 '316,3203,3390,9874': 1,
 '316,3203,5804,6515': 1,
 '316,3203,5804,7594': 1,
 '316,3203,5804,9874': 1,
 '316,3203,6515,7594': 1,
 '316,3203,6515,9874': 1,
 '316,3203,7594,9874': 1,
 '316,3390,5804,6515': 1,
 '316,3390,5804,7594': 1,
 '316,3390,5804,9874': 1,
 '316,3390,6515,7594': 1,
 '316,3390,6515,9874': 1,
 '316,3390,7594,9874': 1,
 '316,5804,6515,7594': 1,
 '316,5804,6515,9874': 1,
 '316,5804,7594,9874': 1,
 '316,6515,7594,9874': 1,
 '3203,3390,5804,6515': 1,
 '3203,3390,5804,7594': 1,
 '3203,3390,5804,9874': 1,
 '3203,3390,6515,7594': 1,
 '3203,3390,6515,9874': 1,
 '3203,3390,7594,9874': 1,
 '3203,5804,6515,7594': 1,
 '3203,5804,6515,9874': 1,
 '3203,5804,7594,9874': 1,
 '3203,6515,7594,9874': 1,
 '3390,5804,6515,7594': 1,
 '3390,5804,6515,9874': 1,
 '3390,5804,7594,9874': 1,
 '3390,6515,7594,9874': 1,
 '5804,6515,7594,9874': 1,
 '316,3203,3390,5804,6515': 1,
 '316,3203,3390,5804,7594': 1,
 '316,3203,3390,5804,9874': 1,
 '316,3203,3390,6515,7594': 1,
 '316,3203,3390,6515,9874': 1,
 '316,3203,3390,7594,9874': 1,
 '316,3203,5804,6515,7594': 1,
 '316,3203,5804,6515,9874': 1,
 '316,3203,5804,7594,9874': 1,
 '316,3203,6515,7594,9874': 1,
 '316,3390,5804,6515,7594': 1,
 '316,3390,5804,6515,9874': 1,
 '316,3390,5804,7594,9874': 1,
 '316,3390,6515,7594,9874': 1,
 '316,5804,6515,7594,9874': 1,
 '3203,3390,5804,6515,7594': 1,
 '3203,3390,5804,6515,9874': 1,
 '3203,3390,5804,7594,9874': 1,
 '3203,3390,6515,7594,9874': 1,
 '3203,5804,6515,7594,9874': 1,
 '3390,5804,6515,7594,9874': 1,
 '316,3203,3390,5804,6515,7594': 1,
 '316,3203,3390,5804,6515,9874': 1,
 '316,3203,3390,5804,7594,9874': 1,
 '316,3203,3390,6515,7594,9874': 1,
 '316,3203,5804,6515,7594,9874': 1,
 '316,3390,5804,6515,7594,9874': 1,
 '3203,3390,5804,6515,7594,9874': 1,
 '316,3203,3390,5804,6515,7594,9874': 1,
 "['2695']": 23,
 '5060': 30,
 '9013': 29,
 '5060,9013': 29,
 '3291': 90,
 '5876': 36,
 '3291,5876': 1,
 '4443': 24,
 '4443,5876': 1,
 '880': 15,
 '6221': 51,
 '880,6221': 14,
 '54': 122,
 '5256': 20,
 '54,5256': 2,
 '7998': 114,
 '8119': 368,
 '54,7998': 2,
 '54,8119': 3,
 '5256,7998': 2,
 '5256,8119': 1,
 '7998,8119': 3,
 '54,5256,7998': 1,
 '54,5256,8119': 1,
 '54,7998,8119': 1,
 '5256,7998,8119': 1,
 '54,5256,7998,8119': 1,
 '5086': 50,
 '7125': 523,
 '5086,7125': 1,
 '1973': 135,
 '5638': 38,
 '1973,5638': 2,
 '1973,7125': 1,
 '5638,7125': 1,
 '1973,5638,7125': 1,
 '3160': 6,
 '6182': 28,
 '3160,6182': 1,
 '3160,7125': 1,
 '6182,7125': 1,
 '3160,6182,7125': 1,
 '3557': 19,
 '3557,7125': 1,
 '806': 109,
 '5964': 39,
 '806,5964': 2,
 '1808': 49,
 '5999': 95,
 '7056': 49,
 '8658': 22,
 '411,1808': 2,
 '411,5964': 2,
 '411,5999': 94,
 '411,7056': 2,
 '411,8658': 1,
 '1808,5964': 1,
 '1808,5999': 1,
 '1808,7056': 47,
 '1808,8658': 1,
 '5964,5999': 2,
 '5964,7056': 1,
 '5964,8658': 1,
 '5999,7056': 1,
 '5999,8658': 1,
 '7056,8658': 1,
 '411,1808,5964': 1,
 '411,1808,5999': 1,
 '411,1808,7056': 2,
 '411,1808,8658': 1,
 '411,5964,5999': 2,
 '411,5964,7056': 1,
 '411,5964,8658': 1,
 '411,5999,7056': 1,
 '411,5999,8658': 1,
 '411,7056,8658': 1,
 '1808,5964,5999': 1,
 '1808,5964,7056': 1,
 '1808,5964,8658': 1,
 '1808,5999,7056': 1,
 '1808,5999,8658': 1,
 '1808,7056,8658': 1,
 '5964,5999,7056': 1,
 '5964,5999,8658': 1,
 '5964,7056,8658': 1,
 '5999,7056,8658': 1,
 '411,1808,5964,5999': 1,
 '411,1808,5964,7056': 1,
 '411,1808,5964,8658': 1,
 '411,1808,5999,7056': 1,
 '411,1808,5999,8658': 1,
 '411,1808,7056,8658': 1,
 '411,5964,5999,7056': 1,
 '411,5964,5999,8658': 1,
 '411,5964,7056,8658': 1,
 '411,5999,7056,8658': 1,
 '1808,5964,5999,7056': 1,
 '1808,5964,5999,8658': 1,
 '1808,5964,7056,8658': 1,
 '1808,5999,7056,8658': 1,
 '5964,5999,7056,8658': 1,
 '411,1808,5964,5999,7056': 1,
 '411,1808,5964,5999,8658': 1,
 '411,1808,5964,7056,8658': 1,
 '411,1808,5999,7056,8658': 1,
 '411,5964,5999,7056,8658': 1,
 '1808,5964,5999,7056,8658': 1,
 '411,1808,5964,5999,7056,8658': 1,
 '411,806': 5,
 '806,5999': 1,
 '411,806,5964': 1,
 '411,806,5999': 1,
 '806,5964,5999': 1,
 '411,806,5964,5999': 1,
 '513': 42,
 '1215': 233,
 '9018': 133,
 '411,513': 1,
 '411,1215': 2,
 '411,9018': 3,
 '411,9406': 2,
 '513,1215': 2,
 '513,5999': 1,
 '513,9018': 2,
 '513,9406': 2,
 '1215,5999': 2,
 '1215,9018': 1,
 '1215,9406': 168,
 '5999,9018': 2,
 '5999,9406': 2,
 '9018,9406': 1,
 '411,513,1215': 1,
 '411,513,5999': 1,
 '411,513,9018': 1,
 '411,513,9406': 1,
 '411,1215,5999': 2,
 '411,1215,9018': 1,
 '411,1215,9406': 2,
 '411,5999,9018': 2,
 '411,5999,9406': 2,
 '411,9018,9406': 1,
 '513,1215,5999': 1,
 '513,1215,9018': 1,
 '513,1215,9406': 2,
 '513,5999,9018': 1,
 '513,5999,9406': 1,
 '513,9018,9406': 1,
 '1215,5999,9018': 1,
 '1215,5999,9406': 2,
 '1215,9018,9406': 1,
 '5999,9018,9406': 1,
 '411,513,1215,5999': 1,
 '411,513,1215,9018': 1,
 '411,513,1215,9406': 1,
 '411,513,5999,9018': 1,
 '411,513,5999,9406': 1,
 '411,513,9018,9406': 1,
 '411,1215,5999,9018': 1,
 '411,1215,5999,9406': 2,
 '411,1215,9018,9406': 1,
 '411,5999,9018,9406': 1,
 '513,1215,5999,9018': 1,
 '513,1215,5999,9406': 1,
 '513,1215,9018,9406': 1,
 '513,5999,9018,9406': 1,
 '1215,5999,9018,9406': 1,
 '411,513,1215,5999,9018': 1,
 '411,513,1215,5999,9406': 1,
 '411,513,1215,9018,9406': 1,
 '411,513,5999,9018,9406': 1,
 '411,1215,5999,9018,9406': 1,
 '513,1215,5999,9018,9406': 1,
 '411,513,1215,5999,9018,9406': 1,
 '1312': 104,
 '513,1312': 2,
 '1312,9018': 1,
 '513,1312,9018': 1,
 '9402': 182,
 '1215,1312': 3,
 '1215,9402': 5,
 '1312,9402': 2,
 '1312,9406': 3,
 '9402,9406': 5,
 '1215,1312,9402': 2,
 '1215,1312,9406': 2,
 '1215,9402,9406': 5,
 '1312,9402,9406': 2,
 '1215,1312,9402,9406': 2,
 '1147': 91,
 '4859': 87,
 '1147,1215': 1,
 '1147,4859': 87,
 '1147,9402': 3,
 '1147,9406': 1,
 '1215,4859': 1,
 '4859,9402': 3,
 '4859,9406': 1,
 '1147,1215,4859': 1,
 '1147,1215,9402': 1,
 '1147,1215,9406': 1,
 '1147,4859,9402': 3,
 '1147,4859,9406': 1,
 '1147,9402,9406': 1,
 '1215,4859,9402': 1,
 '1215,4859,9406': 1,
 '4859,9402,9406': 1,
 '1147,1215,4859,9402': 1,
 '1147,1215,4859,9406': 1,
 '1147,1215,9402,9406': 1,
 '1147,4859,9402,9406': 1,
 '1215,4859,9402,9406': 1,
 '1147,1215,4859,9402,9406': 1,
 '513,9402': 1,
 '513,1215,1312': 1,
 '513,1215,9402': 1,
 '513,1312,9402': 1,
 '513,1312,9406': 1,
 '513,9402,9406': 1,
 '513,1215,1312,9402': 1,
 '513,1215,1312,9406': 1,
 '513,1215,9402,9406': 1,
 '513,1312,9402,9406': 1,
 '513,1215,1312,9402,9406': 1,
 "['3712']": 28,
 '312': 81,
 '3419': 39,
 '5304': 40,
 '312,3419': 38,
 '312,5304': 39,
 '3419,5304': 39,
 '312,3419,5304': 38,
 "['137']": 44,
 "['411']": 55,
 '6212': 214,
 '7085': 169,
 '6212,7085': 166,
 "['6280']": 19,
 '1168': 45,
 '1924': 30,
 '1168,1924': 2,
 '5889': 129,
 '7453': 14,
 '5889,7453': 3,
 '1347': 86,
 '1168,1347': 1,
 '1168,7453': 1,
 '1347,1924': 2,
 '1347,7453': 2,
 '1924,7453': 3,
 '1168,1347,1924': 1,
 '1168,1347,7453': 1,
 '1168,1924,7453': 1,
 '1347,1924,7453': 2,
 '1168,1347,1924,7453': 1,
 '1347,5889': 1,
 '1924,5889': 2,
 '1347,1924,5889': 1,
 '1347,5889,7453': 1,
 '1924,5889,7453': 2,
 '1347,1924,5889,7453': 1,
 "['8666']": 14,
 '5435': 93,
 '8666': 79,
 '5435,8666': 1,
 "['2062']": 19,
 '97': 138,
 '8752': 122,
 '97,8752': 1,
 '7924': 64,
 '7924,8752': 1,
 '137': 219,
 '6374': 49,
 '137,2701': 5,
 '137,6374': 1,
 '2701,6374': 1,
 '137,2701,6374': 1,
 '3189': 149,
 '9389': 98,
 '137,3189': 1,
 '137,9389': 1,
 '2701,3189': 2,
 '2701,9389': 2,
 '3189,9389': 80,
 '137,2701,3189': 1,
 '137,2701,9389': 1,
 '137,3189,9389': 1,
 '2701,3189,9389': 2,
 '137,2701,3189,9389': 1,
 '360': 353,
 '3217': 47,
 '137,360': 8,
 '137,3217': 1,
 '360,2701': 4,
 '360,3217': 47,
 '2701,3217': 1,
 '137,360,2701': 1,
 '137,360,3217': 1,
 '137,2701,3217': 1,
 '360,2701,3217': 1,
 '137,360,2701,3217': 1,
 "['1633']": 10,
 '4423': 99,
 '5529': 191,
 '6431': 169,
 '6842': 147,
 '4423,5529': 3,
 '4423,6431': 99,
 '4423,6842': 1,
 '5529,6431': 3,
 '5529,6842': 1,
 '6431,6842': 1,
 '4423,5529,6431': 3,
 '4423,5529,6842': 1,
 '4423,6431,6842': 1,
 '5529,6431,6842': 1,
 '4423,5529,6431,6842': 1,
 '6634': 36,
 '4423,6634': 1,
 '5529,6634': 1,
 '6431,6634': 1,
 '4423,5529,6634': 1,
 '4423,6431,6634': 1,
 '5529,6431,6634': 1,
 '4423,5529,6431,6634': 1,
 '2659': 133,
 '9608': 99,
 '2659,4423': 1,
 '2659,5529': 5,
 '2659,6431': 1,
 '2659,9608': 2,
 '4423,9608': 1,
 '5529,9608': 6,
 '6431,9608': 1,
 '2659,4423,5529': 1,
 '2659,4423,6431': 1,
 '2659,4423,9608': 1,
 '2659,5529,6431': 1,
 '2659,5529,9608': 1,
 '2659,6431,9608': 1,
 '4423,5529,9608': 1,
 '4423,6431,9608': 1,
 '5529,6431,9608': 1,
 '2659,4423,5529,6431': 1,
 '2659,4423,5529,9608': 1,
 '2659,4423,6431,9608': 1,
 '2659,5529,6431,9608': 1,
 '4423,5529,6431,9608': 1,
 '2659,4423,5529,6431,9608': 1,
 '5548': 31,
 '7931': 198,
 '2659,5548': 2,
 '2659,7931': 1,
 '5529,5548': 2,
 '5529,7931': 1,
 '5548,7931': 1,
 '2659,5529,5548': 1,
 '2659,5529,7931': 1,
 '2659,5548,7931': 1,
 '5529,5548,7931': 1,
 '2659,5529,5548,7931': 1,
 '2505': 69,
 '2505,2659': 3,
 '2505,6842': 1,
 '2505,9608': 1,
 '2659,6842': 1,
 '6842,9608': 1,
 '2505,2659,6842': 1,
 '2505,2659,9608': 1,
 '2505,6842,9608': 1,
 '2659,6842,9608': 1,
 '2505,2659,6842,9608': 1,
 "['7158']": 14,
 '1552': 86,
 '1986': 243,
 '2662': 26,
 '2846': 149,
 '7992': 152,
 '8920': 89,
 '1552,1986': 2,
 '1552,2662': 3,
 '1552,2846': 4,
 '1552,7992': 3,
 '1552,8920': 2,
 '1986,2662': 2,
 '1986,2846': 2,
 '1986,7992': 2,
 '1986,8920': 1,
 '2662,2846': 2,
 '2662,7992': 2,
 '2662,8920': 1,
 '2846,7992': 5,
 '2846,8920': 3,
 '7992,8920': 4,
 '1552,1986,2662': 2,
 '1552,1986,2846': 2,
 '1552,1986,7992': 2,
 '1552,1986,8920': 1,
 '1552,2662,2846': 2,
 '1552,2662,7992': 2,
 '1552,2662,8920': 1,
 '1552,2846,7992': 3,
 '1552,2846,8920': 2,
 '1552,7992,8920': 2,
 '1986,2662,2846': 2,
 '1986,2662,7992': 2,
 '1986,2662,8920': 1,
 '1986,2846,7992': 2,
 '1986,2846,8920': 1,
 '1986,7992,8920': 1,
 '2662,2846,7992': 2,
 '2662,2846,8920': 1,
 '2662,7992,8920': 1,
 '2846,7992,8920': 2,
 '1552,1986,2662,2846': 2,
 '1552,1986,2662,7992': 2,
 '1552,1986,2662,8920': 1,
 '1552,1986,2846,7992': 2,
 '1552,1986,2846,8920': 1,
 '1552,1986,7992,8920': 1,
 '1552,2662,2846,7992': 2,
 '1552,2662,2846,8920': 1,
 '1552,2662,7992,8920': 1,
 '1552,2846,7992,8920': 2,
 '1986,2662,2846,7992': 2,
 '1986,2662,2846,8920': 1,
 '1986,2662,7992,8920': 1,
 '1986,2846,7992,8920': 1,
 '2662,2846,7992,8920': 1,
 '1552,1986,2662,2846,7992': 2,
 '1552,1986,2662,2846,8920': 1,
 '1552,1986,2662,7992,8920': 1,
 '1552,1986,2846,7992,8920': 1,
 '1552,2662,2846,7992,8920': 1,
 '1986,2662,2846,7992,8920': 1,
 '1552,1986,2662,2846,7992,8920': 1,
 '2439': 82,
 '1552,2439': 2,
 '1986,2439': 1,
 '2439,2662': 1,
 '2439,2846': 2,
 '2439,7992': 1,
 '1552,1986,2439': 1,
 '1552,2439,2662': 1,
 '1552,2439,2846': 1,
 '1552,2439,7992': 1,
 '1986,2439,2662': 1,
 '1986,2439,2846': 1,
 '1986,2439,7992': 1,
 '2439,2662,2846': 1,
 '2439,2662,7992': 1,
 '2439,2846,7992': 1,
 '1552,1986,2439,2662': 1,
 '1552,1986,2439,2846': 1,
 '1552,1986,2439,7992': 1,
 '1552,2439,2662,2846': 1,
 '1552,2439,2662,7992': 1,
 '1552,2439,2846,7992': 1,
 '1986,2439,2662,2846': 1,
 '1986,2439,2662,7992': 1,
 '1986,2439,2846,7992': 1,

after remove element less than minimal support

In [357]:
clean_itemset = {}
for element,times in itemset.items():
    if times > min_support:
        clean_itemset[element] = times

In [358]:
clean_itemset

{'3704': 206,
 '6568': 223,
 '9406': 205,
 '5132': 276,
 '5069': 309,
 '411': 426,
 '5447': 285,
 '5493': 336,
 '5447,5493': 282,
 '6549': 204,
 '8480': 276,
 '8117': 354,
 '2701': 415,
 '5419': 258,
 '552': 289,
 '4811': 327,
 '552,4811': 262,
 '8119': 368,
 '7125': 523,
 '1215': 233,
 '6212': 214,
 '137': 219,
 '360': 353,
 '1986': 243,
 '4991': 234,
 '2227': 299,
 '8262': 303,
 '3753': 262,
 '800': 280,
 '2752': 374,
 '3770': 217,
 '3923': 398,
 '1667': 290,
 '8617': 276,
 '2380': 214,
 '8974': 404,
 '4634': 291,
 '1946': 204,
 '4683': 203,
 '1946,4683': 202,
 '9804': 265,
 '125': 244,
 '5591': 229,
 '9285': 228,
 '2433': 217,
 '3816': 282,
 '3759': 219,
 '5352': 204,
 '7775': 289,
 '419': 270,
 '7029': 245,
 '2438': 201,
 '8208': 222,
 '1141': 289,
 '7088': 438,
 '9126': 441,
 '7088,9126': 436,
 '5663': 215,
 '1807': 255,
 '6312': 255,
 '1807,6312': 248,
 '2685': 214,
 '8042': 240,
 '9174': 234,
 '9114': 248,
 '2652': 261,
 '8969': 250,
 '2652,8969': 245,
 '4444': 317,
 '7248': 211,
 '1290': 356,
 '5517': 326,
 '2240': 244,
 '2240,7125': 234,
 '1503': 207,
 '2722': 205,
 '1503,2722': 203,
 '9087': 211,
 '1566': 277,
 '3488': 256,
 '1566,3488': 244,
 '4633': 204,
 '1964': 253,
 '4851': 205,
 '8412': 208,
 '2023': 260,
 '6337': 213,
 '3712': 217,
 '9939': 214,
 '8801': 218,
 '4728': 202}

mapping

In [359]:
element_list = []
for element in clean_itemset.keys():
    element_list.append(element)
element_list.sort()

mapping = {}
for idx,element in enumerate(element_list):
    mapping[element] = str(idx)
    print('{} : {}'.format(element, str(idx)))

1141 : 0
1215 : 1
125 : 2
1290 : 3
137 : 4
1503 : 5
1503,2722 : 6
1566 : 7
1566,3488 : 8
1667 : 9
1807 : 10
1807,6312 : 11
1946 : 12
1946,4683 : 13
1964 : 14
1986 : 15
2023 : 16
2227 : 17
2240 : 18
2240,7125 : 19
2380 : 20
2433 : 21
2438 : 22
2652 : 23
2652,8969 : 24
2685 : 25
2701 : 26
2722 : 27
2752 : 28
3488 : 29
360 : 30
3704 : 31
3712 : 32
3753 : 33
3759 : 34
3770 : 35
3816 : 36
3923 : 37
411 : 38
419 : 39
4444 : 40
4633 : 41
4634 : 42
4683 : 43
4728 : 44
4811 : 45
4851 : 46
4991 : 47
5069 : 48
5132 : 49
5352 : 50
5419 : 51
5447 : 52
5447,5493 : 53
5493 : 54
5517 : 55
552 : 56
552,4811 : 57
5591 : 58
5663 : 59
6212 : 60
6312 : 61
6337 : 62
6549 : 63
6568 : 64
7029 : 65
7088 : 66
7088,9126 : 67
7125 : 68
7248 : 69
7775 : 70
800 : 71
8042 : 72
8117 : 73
8119 : 74
8208 : 75
8262 : 76
8412 : 77
8480 : 78
8617 : 79
8801 : 80
8969 : 81
8974 : 82
9087 : 83
9114 : 84
9126 : 85
9174 : 86
9285 : 87
9406 : 88
9804 : 89
9939 : 90

In [360]:
mapping

{'1141': '0',
 '1215': '1',
 '125': '2',
 '1290': '3',
 '137': '4',
 '1503': '5',
 '1503,2722': '6',
 '1566': '7',
 '1566,3488': '8',
 '1667': '9',
 '1807': '10',
 '1807,6312': '11',
 '1946': '12',
 '1946,4683': '13',
 '1964': '14',
 '1986': '15',
 '2023': '16',
 '2227': '17',
 '2240': '18',
 '2240,7125': '19',
 '2380': '20',
 '2433': '21',
 '2438': '22',
 '2652': '23',
 '2652,8969': '24',
 '2685': '25',
 '2701': '26',
 '2722': '27',
 '2752': '28',
 '3488': '29',
 '360': '30',
 '3704': '31',
 '3712': '32',
 '3753': '33',
 '3759': '34',
 '3770': '35',
 '3816': '36',
 '3923': '37',
 '411': '38',
 '419': '39',
 '4444': '40',
 '4633': '41',
 '4634': '42',
 '4683': '43',
 '4728': '44',
 '4811': '45',
 '4851': '46',
 '4991': '47',
 '5069': '48',
 '5132': '49',
 '5352': '50',
 '5419': '51',
 '5447': '52',
 '5447,5493': '53',
 '5493': '54',
 '5517': '55',
 '552': '56',
 '552,4811': '57',
 '5591': '58',
 '5663': '59',
 '6212': '60',
 '6312': '61',
 '6337': '62',
 '6549': '63',
 '6568': '64',
 '7029': '65',
 '7088': '66',
 '7088,9126': '67',
 '7125': '68',
 '7248': '69',
 '7775': '70',
 '800': '71',
 '8042': '72',
 '8117': '73',
 '8119': '74',
 '8208': '75',
 '8262': '76',
 '8412': '77',
 '8480': '78',
 '8617': '79',
 '8801': '80',
 '8969': '81',
 '8974': '82',
 '9087': '83',
 '9114': '84',
 '9126': '85',
 '9174': '86',
 '9285': '87',
 '9406': '88',
 '9804': '89',
 '9939': '90'}

In [361]:
inverse_mapping = {}
for key, value in mapping.items():
    inverse_mapping[value] = key

In [362]:
inverse_mapping

{'0': '1141',
 '1': '1215',
 '2': '125',
 '3': '1290',
 '4': '137',
 '5': '1503',
 '6': '1503,2722',
 '7': '1566',
 '8': '1566,3488',
 '9': '1667',
 '10': '1807',
 '11': '1807,6312',
 '12': '1946',
 '13': '1946,4683',
 '14': '1964',
 '15': '1986',
 '16': '2023',
 '17': '2227',
 '18': '2240',
 '19': '2240,7125',
 '20': '2380',
 '21': '2433',
 '22': '2438',
 '23': '2652',
 '24': '2652,8969',
 '25': '2685',
 '26': '2701',
 '27': '2722',
 '28': '2752',
 '29': '3488',
 '30': '360',
 '31': '3704',
 '32': '3712',
 '33': '3753',
 '34': '3759',
 '35': '3770',
 '36': '3816',
 '37': '3923',
 '38': '411',
 '39': '419',
 '40': '4444',
 '41': '4633',
 '42': '4634',
 '43': '4683',
 '44': '4728',
 '45': '4811',
 '46': '4851',
 '47': '4991',
 '48': '5069',
 '49': '5132',
 '50': '5352',
 '51': '5419',
 '52': '5447',
 '53': '5447,5493',
 '54': '5493',
 '55': '5517',
 '56': '552',
 '57': '552,4811',
 '58': '5591',
 '59': '5663',
 '60': '6212',
 '61': '6312',
 '62': '6337',
 '63': '6549',
 '64': '6568',
 '65': '7029',
 '66': '7088',
 '67': '7088,9126',
 '68': '7125',
 '69': '7248',
 '70': '7775',
 '71': '800',
 '72': '8042',
 '73': '8117',
 '74': '8119',
 '75': '8208',
 '76': '8262',
 '77': '8412',
 '78': '8480',
 '79': '8617',
 '80': '8801',
 '81': '8969',
 '82': '8974',
 '83': '9087',
 '84': '9114',
 '85': '9126',
 '86': '9174',
 '87': '9285',
 '88': '9406',
 '89': '9804',
 '90': '9939'}

crete new database

In [363]:
db2={'items':[]}
cid = []

for idx in range(len(df)):
    sequence = df.iloc[idx]['items']
    db2_sequence = []
    for element in sequence:
        subsequence = []
        for n in range(len(element)):
            for comb_ in itertools.combinations(element, n+1):
                comb_ = list(comb_)
                comb_ = ','.join(comb_)
                if comb_ in mapping:
                    subsequence.append(mapping[comb_])
        if subsequence != []:
            db2_sequence.append(subsequence)       
    if db2_sequence != []:
        db2_sequence = remove_duplicate(db2_sequence)
        db2['items'].append(db2_sequence)
        cid.append(idx)

In [364]:
df2 = pd.DataFrame(db2,index=cid)
df2.index.name = 'cid'
df2

                  items
cid
0      [[31, 64], [88]]
2                [[49]]
3      [[48], [38, 48]]
4        [[52, 54, 53]]
5      [[63, 78], [78]]
...                 ...
19990            [[36]]
19991            [[86]]
19992            [[90]]
19996            [[78]]
19997            [[89]]

[8312 rows x 1 columns]

In [322]:
df2 = pd.DataFrame(db2,index=cid)
df2.index.name = 'cid'
df2

                              items
cid
0                  [[31, 64], [88]]
2                [[49], [49], [49]]
3            [[48], [48], [38, 48]]
4      [[52, 54, 53], [52, 54, 53]]
5                  [[63, 78], [78]]
...                             ...
19990            [[36], [36], [36]]
19991                        [[86]]
19992                        [[90]]
19996                        [[78]]
19997                        [[89]]

[8312 rows x 1 columns]

large 2-sequence

In [385]:
def sequential_pattern(df2, n):
    # calc support
    itemset = {}
    for idx in range(len(df2)):
        sequence = df2.iloc[idx]['items']
        #print('sequence',sequence)
        combine = []
        for element in sequence:
            combine.extend(element)
        #combine = remove_duplicate(combine)
        #print('combine',combine)
        
        comb_list = []
        for comb_ in itertools.combinations(combine, n):
            comb_ = list(comb_)
            if (len(set(comb_)) == 1) or (comb_ in comb_list):
                continue
            comb_list.append(comb_)
            comb_ = ','.join(comb_)
            #print(comb_)            
            itemset[comb_] = itemset.get(comb_,0)+1

    # find sequential pattern
    clean_itemset = {}
    for element,times in itemset.items():
        if times > min_support:
            clean_itemset[element] = times
            
    return clean_itemset

In [386]:
clean_itemset2 = sequential_pattern(df2,2)
clean_itemset2

{'66,85': 226, '66,67': 226, '85,67': 226}

In [387]:
clean_itemset3 = sequential_pattern(df2,3)
clean_itemset3

{'66,85,67': 226}

In [388]:
clean_itemset4 = sequential_pattern(df2,4)
len(clean_itemset4)

0